/*CSS RESET*/
html, li, ul, h1, h2 {
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(#f588d8, #8961be);
}

.layout {
    display: flex;
    flex-flow: row wrap;
    margin: 1vh auto;
    height: 86vh;
    width: 66vw;
    min-width: 300px;
    border-radius: 20px;
    color: #ffffff;
    font-family: monospace;
}

.btnRow {
    position: relative;
    width: 100%;
    height: 40px;
}

.langBtns {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 12vw;
    margin: 0;
}
.languageButton {
    width: 3.5vw;
    height: 36px;
    background-color: #272133;
    border: 0;
}
.languageButton > img {
    width: 30px;
}
.brazilFlag {
    border-radius: 10px 0px 0px 0px;
}
.usaFlag {
    border-radius: 0px 10px 0px 0px;
}
.languageButton:hover {
    cursor: pointer;
}

.contentRow {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden; /*use scroll to view the other pages*/
}

.mainContent {
    flex-grow: 1;
    background-color: #272133;
}

.navMenu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    border-bottom: rgba(0, 0, 0, 0.5) solid 2px;
}

.navMenu>li {
    font-size: 1.1em;
    padding: 10px;
}

.navMenu>li:hover {
    cursor: pointer;
    border-bottom: 2px solid rgba(235, 25, 110, 1);
}

.asideContent {
    background-color: #272133;
    width: 20vw;
}

.myPhoto {
    display: block;
    margin: 30px auto;
    width: 45%;
    border: solid 4px #272133;
    border-radius: 50%;
    box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
}

aside>span {
    display: block;
    text-align: center;
    font-size: 1.5em;
}

.skillSet {
    height: 300px;
    box-sizing: border-box;
    padding: 0 15px 5px 15px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.skillContainer {
    padding: 6px 0;
}

.skillName {
    font-weight: 600;
    font-size: 1em;
}

progress {
    width: 100%;
    height: 8px;
    border-radius: 10px;
    background-color: #ffffff;
    color: rgba(235, 25, 110, 1);
}

progress::-moz-progress-bar {
    background: rgba(235, 25, 110, 1);
}

progress::-webkit-progress-value {
    background: rgba(235, 25, 110, 1);
}

/*PAGES CONTENT*/
.subTitle {
    display: block;
    margin: 30px 0 12px 0;
    color: #58afd1;
    font-size: 1.8em;
    text-align: center;
}

/*ABOUT ME ----------------------*/
.jobPosition {
    display: block;
    margin-bottom: 0;
    font-size: 1.3em;
    text-align: center;
}

.jobPosition abbr {
    color: rgba(235, 25, 110, 1);

}

.aboutMe_text {
    background-color: rgba(0, 0, 0, 0.4);
    max-width: 44vw;
    height: 60vh;
    margin: 10px auto;
    border-radius: 6px;
    box-sizing: border-box;
    white-space: pre-line;
    font-size: 1.2em;
    padding: 0 20px;
}

.aboutMe_text em {
    color: #58afd1;
}

/*PROJECTS ----------------------*/
.projectsDescription {
    display: block;
    font-size: 1.3em;
    text-align: center;
}

.projectsMenu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 45vw;
    height: 57vh;
    margin: 10px auto;
    overflow-y: scroll;
    scrollbar-width: none;
}

.previewImage {
    background-color: rgba(0, 0, 0, 0.5);
    width: 276px;
    height: 158px;
    margin: 10px;
    border-radius: 6px;
}

.previewImage img:hover {
    box-shadow: rgba(235, 25, 110, 0.6) 0px 5px 15px 5px;
}

/*CONTACTS ----------------------*/
.contactsMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.contactBtn {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fcfcfc;
    font-size: 1rem;
    font-family: monospace;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
    padding: 15px;
    width: 15vw;
    margin-top: 20px;
}

.contactBtn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: rgba(235, 25, 110, 0.6) 0px 5px 15px 5px;
}

.contactBtn img {
    float: left;
    width: 20px;
    padding: 2px;
}